{% extends 'admin/alimento/alimento.html' %} 

{% block title %} Ordenes Pendientes {% endblock %}

{% block content %} 

<div class="cont-top">
	
	<div class="row">
		

		<div class="col-12 col-md-12">

			<h2>Ordenes Pendientes</h2>
			<h2>{{request.user.id}} , {{request.user.username}}</h2>

			<table class="table table-bordered">

				<thead>
					<tr>
						<td>Orden</td>
						<td>Fecha</td>
						<td>Cliente</td>
						<td>Direccion</td>
						<td>Telefono</td>
						<td>Estado</td>
						<td>Precio</td>
						<td>Acciones</td>
					</tr>
				</thead>

				<tbody>
					{% if  object_list %}
					{% for Orden in object_list  %}
					{% if Orden.estado_orden.id != 4 and Orden.repartidor_orden.user.id == request.user.id %}
					<tr>
						<td>{{ Orden.id }}</td>
						<td>{{ Orden.fecha_orden }}</td>
						<td>{{ Orden.orden.user.first_name }}</td>
						<td>{{ Orden.orden.direccion }}</td>
						<td>{{ Orden.orden.telefono }}</td>
						<td>{{ Orden.estado_orden.nombre }}</td>
						<td>{{ Orden.precio_total }}</td>
						<td><a  class="btn btn-primary" href="{% url 'orden_entregada' Orden.id %}">Entregado</a></td>
					</tr>
					{% endif %}
					{% endfor %}

					{% else %}
					<h1>No hay Ordenes Pendientes</h1>
					{% endif %}
				</tbody>

			</table>

		</div>

	</div>

	<center><a href="{% url 'index_menu_repartidor' %}"><button type="button" class="btn btn-outline-dark">Menu</button></a></center>



</div>
{% endblock %} 