{% extends 'admin/alimento/alimento.html' %} 

{% block title %} Ordenes Entregadas {% endblock %}

{% block content %} 

<div class="cont-top">
	
	<div class="row">
		

		<div class="col-12 col-md-12">

			<h2>Ordenes Entregadas</h2>
			<h2>{{request.user.id}} , {{request.user.username}}</h2>

			<table class="table table-bordered">

				<thead>
					<tr>
						<td>Orden</td>
						<td>Fecha</td>
						<td>Cliente</td>
						
					</tr>
				</thead>

				<tbody>
					{% if  object_list %}
					{% for Orden in object_list  %}
					{% if Orden.estado_orden.id == 4 and Orden.repartidor_orden.user.id == request.user.id %}
					<tr>
						<td>{{ Orden.id }}</td>
						<td>{{ Orden.fecha_orden }}</td>
						<td>{{ Orden.orden }}</td>
						
					</tr>
					{% endif %}
					{% endfor %}

					{% else %}
					<h1>No hay Ordenes entregadas aun</h1>
					{% endif %}
				</tbody>

			</table>

		</div>

	</div>

	<center><a href="{% url 'index_menu_repartidor' %}"><button type="button" class="btn btn-outline-dark">Menu</button></a></center>



</div>
{% endblock %} 