{% extends 'admin/alimento/alimento.html' %} 

{% block title %} Ordenes Disponibles {% endblock %}

{% block content %} 

<div class="cont-top">
	
	<div class="row">
		

		<div class="col-12 col-md-12">

			<h2>Ordenes Disponibles</h2>
			<h2>{{request.user.id}} , {{request.user.username}}</h2>

			<table class="table table-bordered">

				<thead>
					<tr>
						<td>Orden</td>
						<td>Fecha</td>
						<td>Cliente</td>
						<td>Ubicacion</td>
						<td>Acciones</td>
					</tr>
				</thead>

				<tbody>
					{% if  object_list %}
					{% for Orden in object_list  %}
					{% if Orden.repartidor_orden == Null %}
					<tr>
						<td>{{ Orden.id }}</td>
						<td>{{ Orden.fecha_orden }}</td>
						<td>{{ Orden.orden.user.first_name }} {{ Orden.orden.user.last_name }}</td>
						<td>{{ Orden.orden.direccion }}</td>
						<td><a  class="btn btn-primary" href="{% url 'aceptar_orden' Orden.id %}">Aceptar Orden</a></td>
					</tr>
					{% endif %}
					{% endfor %}

					{% else %}
					<h1>No hay Ordenes Disponibles</h1>
					{% endif %}
				</tbody>

			</table>

		</div>

	</div>

	<center><a href="{% url 'index_menu_repartidor' %}"><button type="button" class="btn btn-outline-dark">Menu</button></a></center>



</div>

{% endblock %} 