{% extends 'base/base.html' %} 
{% load static %}

{% block navbar %} 

<nav class="navbar navbar-light bg-dark"><img style="width: 50px; height: 50px;" src="{% static 'image/logo.jpg' %}">
  <span class="navbar-brand mb-0 h1">La Trajinera Digital</span>
  <span class="navbar-brand mb-0 h1">Repartidor</span>
</nav>

{% endblock %}

{% block content %}
<div class="container">
<h2>Login</h2>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" name="button">Entrar</button>

</form>
</div>

{% endblock %}