{% extends 'admin/alimento/alimento.html' %} 

{% block title %} Ordenes {% endblock %}

{% block content %} 

<div class="cont-top">
	
	<div class="row">
		
		<div class="col-12 col-md-4">
			<ul class="list-group">
				<li class="list-group-item"><a href="{% url 'ordenes_entregadas' %}">Ver Ordenes Entregadas</a></li>
				<li class="list-group-item active"><a href="{% url 'ordenes_pendientes' %}">Ver Ordenes Pendientes</a></li>
				<li class="list-group-item"><a href="{% url 'index_menu' %}">Administrar</a></li>
			</ul>
		</div>

		<div class="col-12 col-md-8">

			<h2>Ordenes <a href="{% url 'ordenes_pendientes' %}"><button type="button" class="btn btn-success">Actualizar</button></a></h2> 

			<table class="table table-bordered">

				<thead>
					<tr>
						<td>Orden</td>
						<td>Estado</td>
						<td>Acciones</td>
						<td>Acciones</td>
					</tr>
				</thead>

				<tbody>
					{% if  object_list %}
					{% for Orden in object_list  %}
					{% if Orden.estado_orden.id != 4 %}
					<tr>
						<td>{{ Orden.id }}</td>
						<td>{{ Orden.estado_orden.nombre }}</td>
						{% if Orden.estado_orden.id != 3 %}

						<td><a  class="btn btn-primary" href="{% url 'cambiar_estado' Orden.id %}">Cambiar Estado</a></td>						
						{% endif %}
						<td><a  class="btn btn-primary" href="{% url 'orden_alimentos' Orden.id %}">Ver Alimentos</a></td>
					</tr>
					{% endif %}
					{% endfor %}

					{% else %}
					<h1>No hay Ordenes entregadas aun</h1>
					{% endif %}
				</tbody>

			</table>

		</div>

	</div>

</div>
</div>
{% endblock %} 