{% extends 'admin/index_admin.html' %} 


{% block title %} {{ Categoria }} {% endblock %}

{% block content %} 

<table class="table table-bordered">

				<thead>
					<tr>
						<td>#</td>
						<td>{{ Categoria }}</td>
						
					</tr>
				</thead>

				<tbody>
					{% if  alimentos %}
					{% for Alimento in alimentos  %}
					{% if  Alimento.categoria.nombre == Categoria %}
					<tr>
						<td>{{ Alimento.id }}</td>
						<td>{{ Alimento.nombre }}</td>
						
					</tr>
					{% endif %}
					{% endfor %} 

					{% else %}
					<h1>Esta Categoria No tiene Alimentos aun</h1>
					{% endif %}
				</tbody>
				
			</table>

{% endblock %} 