{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container">
	
	<h1>Menú</h1>
	
	<p>Aqui esta todo lo que puedes ordenar</p>

	<ul>
		{% for categoria in Categoria %}
		<li>
			<div class="row">

				<h2>{{ categoria.nombre }}</h2>
				<p>{{ categoria.descripcion }}</p><br>

				<div class="col-12 col-md-12">

					<div id="Alimentos"> 

						<div class="arrowsAlimentos">
						</div>

						<div class="sliderAlimentos"> 

							{% for alimento in Alimentos  %}
							{% if alimento.categoria.nombre == categoria.nombre %}
							<div class="bkgndAlimento">

								<div class="card" style="width: 12rem;">
									<img class="card-img-top" src="{{ alimento.foto.url }}" alt="Card IMG">
									<h3>{{ alimento.nombre }}</h3>
									<div class="body-card">
										<p class="card-text">{{ alimento.descripcion  }}</p>
									</div>
									<h5>${{ alimento.precio }}</h5>
									<h5>{{ alimento.categoria }}</h5>
								</div>

							</div>
							{% endif %}
							{% endfor %}

						</div>

					</div>
				</div>

			</div>
		</li>
		{% endfor %}
	</ul>
	
</div>

{% endblock %}

{% block extra_js %} 
<script type="text/javascript">
	$(document).ready(function(){
		
		$('.sliderAlimentos').slick({
			dots: false,
			infinite: true,
			speed: 300,
			arrows: true,
			slidesToShow: 3,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 3000,
			appendArrows: $(".arrowsAlimentos"),
			prevArrow: "<img class='prev' src='{% static 'image/arrow.png' %}'>",
			nextArrow: "<img class='next' src='{% static 'image/arrow.png' %}'>",
			responsive:[
			{
				breakpoint: 630,
				settings: {
					slidesToShow: 2,
					slidesToScroll: 1,
					infinite: true,
					dots: false
				}
			},{
				breakpoint: 400,
				settings: {
					slidesToShow: 1,
					slidesToScroll: 1,
					infinite: true,
					dots: false
				}
			}
			]
		});

	});
</script>
{% endblock %} 
