{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="cont-top">
	
	<h1>{{ Categoria.nombre }}</h1>
	
	<div id="Alimentos"> 

				<h2>Alimentos</h2>
				
				<div class="arrowsAlimentos">
				</div>

				<div class="sliderAlimentos"> 

					{% if  Alimentos %} 
					{% for Alimento in Alimentos %}
					<div class="bkgndAlimento">

						<div class="card">
							<img class="card-img-top" src="{{ Alimento.foto.url }}" alt="Card IMG">
							<h3>{{ Alimento.nombre }}</h3>
							<div class="body-card">
								<center><p class="card-text">{{ Alimento.descripcion  }}</p></center>
							</div>
							<h5>${{ Alimento.precio }}</h5><br>
							{% if Alimento in carro_alimentos %}
								<h5><a href="/home/carrito/{{ Alimento.id }}"><button type="button" class="btn btn-outline-info">Quitar del carrito</button></a></h5>
							{% else %}
								<h5><a href="/home/carrito/{{ Alimento.id }}"><button type="button" class="btn btn-outline-info">Agregar al carrito</button></a></h5>
							{% endif %}
						</div>

					</div>
					{% endfor %}

					{% else %}
					<h1>No hay Alimentos por el momentos, disculpe las molestias</h1>
					{% endif %}

				</div>

			</div>
	
</div>

{% endblock %}

{% block extra_js %} 
<script type="text/javascript">
	$(document).ready(function(){
		
		$('.sliderAlimentos').slick({
			dots: false,
			infinite: true,
			speed: 300,
			arrows: true,
			slidesToShow: 3,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 3000,
			appendArrows: $(".arrowsAlimentos"),
			prevArrow: "<img class='prev' src='{% static 'image/arrow.png' %}'>",
			nextArrow: "<img class='next' src='{% static 'image/arrow.png' %}'>",
			responsive:[
			{
				breakpoint: 630,
				settings: {
					slidesToShow: 1,
					slidesToScroll: 1,
					infinite: true,
					dots: false
				}
			},{
				breakpoint: 400,
				settings: {
					slidesToShow: 1,
					slidesToScroll: 1,
					infinite: true,
					dots: false
				}
			}
			]
		});

	});
</script>
{% endblock %} 
