{% load static %}
<!DOCTYPE html>
<html lang=es>
<head>
	<meta charset="utf-8">
	
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/popper.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script> 
	<script src="{% static 'js/slick.min.js' %}"></script> 
	<script src="{% static 'js/script.js' %}"></script> 
	
	<link rel="stylesheet"  type="text/css" href="{% static 'estilo/style.css' %}">
	<link rel="stylesheet"  type="text/css" href="{% static 'estilo/bootstrap.min.css' %}">
	<link rel="stylesheet"  type="text/css" href="{% static 'estilo/slick.css' %}">

	<link href="{% static 'image/icono.jpeg' %}" rel='shortcut icon' type='image/png'/>

	<title>{% block title %} {% endblock %}</title>
</head>
<body > 
	
	{% block navbar %} <h4>Este es el navbar</h4> {% endblock %}

	{% block content %} <h4> Este es el contenido del archivo base</h4> {% endblock %} 
	
	{% block footer %} 
	<!-- Footer -->
	<footer id="footer_trajinera" class="page-footer font-small pt-4 bg-dark">

		<!-- Footer Links -->
		<div class="container-fluid text-center text-md-left">

			<!-- Grid row -->
			<div class="row">

				<!-- Grid column -->
				<div class="col-md-6 mt-md-0 mt-3">

					<!-- Content -->
					<h5 class="text-uppercase">La Trajinera Digital</h5>
					<p>Este es un producto desarrollado por Quetzal</p>
					<img src="{% static 'image/icono.jpeg' %}" style="width: 100px; height: 100px;">uetzal

				</div>
				<!-- Grid column -->

				<hr class="clearfix w-100 d-md-none pb-3">

				<!-- Grid column -->
				<div class="col-md-3 mb-md-0 mb-3">

					<!-- Links -->
					<h5>Ingenieria de Software 2020-2</h5>

					<ul class="list-unstyled">
						<li>
							<a href="https://sites.google.com/ciencias.unam.mx/ingenieriadesoftware-2020-2/p%C3%A1gina-principal" target="_blank">Pagina del Curso</a>
						</li>
						<li>
							<a href="https://github.com/JacquelineParedes/Quetzal--La-trajinera-digital" target="_blank">Repositorio</a>
						</li>
						<li>
							<a href="http://www.fciencias.unam.mx/" target="_blank">Facultad de Ciencias</a>
						</li>
						
					</ul>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-3 mb-md-0 mb-3">

					<!-- Links -->
					<h5>Colaboradores</h5>

					<ul class="list-unstyled">
						<li>
							<a href="mailto:jfaltamiranov@ciencias.unam.mx"><h6>Jesús Fernando Altamirano Vázquez</h6></a>
						</li>
						<li>
							<a href="mailto:jacqueline.pa@ciencias.unam.mx"><h6>Jacqueline Paredes Sánchez</h6></a>
						</li>
						<li>
							<a href=""><h6></h6></a>
						</li>
						<li>
							<a href="mailto:miguelescamilla@ciencias.unam.mx"><h6>Miguel Ángel Escamilla Monroy</h6></a>
						</li>
						<li>
							<a href="mailto:damf@ciencias.unam.mx"><h6>David A. Martinez Figueroa</h6></a>
						</li>
					</ul>

				</div>
				<!-- Grid column -->

			</div>
			<!-- Grid row -->

		</div>
		<!-- Footer Links -->

		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">Contacto al desarollador:
			<a href="mailto:quetzalig.2020.2@gmail.com">quetzalig.2020.2@gmail.com</a>
		</div>
		<!-- Copyright -->

	</footer>
	<!-- Footer -->
	{% endblock %} 

{% block extra_js %} {% endblock %}
</body>
</html>
