{% load static %}
<!DOCTYPE html>
<html>
<head>
  <!-- Esto nos ayuda con el diseño del front-end. Para mas información, ir a getbootstrap.com -->

  <meta charset="utf-8">
  
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script> 
  <script src="{% static 'js/slick.min.js' %}"></script> 
  <script src="{% static 'js/script.js' %}"></script>  
  
  <link rel="stylesheet"  type="text/css" href="{% static 'estilo/style.css' %}">
  <link rel="stylesheet"  type="text/css" href="{% static 'estilo/bootstrap.min.css' %}">
  <link rel="stylesheet"  type="text/css" href="{% static 'estilo/slick.css' %}">
  
  {% block head %}
  <title>Base</title>
  {% endblock %}


</head>
<body>

  {% if user.is_authenticated%}
  <nav id="navbar-trajinera" class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">La Trajinera Dijital</a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="/home/menu">Ver menú</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home/carrito">Ver carrito</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home/logout">Salir</a>
      </li>
    </ul>
  </nav>
  {% else %}
  <nav id="navbar-trajinera" class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">La Trajinera Dijital</a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="/home/registro">Registrarse</a>
      </li>
    </ul>
  </nav>
  {%endif%}

  {% block body %}
  <h1>base</h1>
  {% endblock %}

  
{% block extra_js %} {% endblock %}
</body>
</html>
